{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Favicon -->
    <link rel="icon" href="{% static 'img/favicon.ico' %}" />
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@600;700&family=Ubuntu:wght@400;500&display=swap" rel="stylesheet" />
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Libraries Stylesheet -->
    <link rel="stylesheet" href="{% static 'lib/animate/animate.min.css' %}" />
    <link rel="stylesheet" href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" />
    <link rel="stylesheet" href="{% static 'lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css' %}" />
    <!-- Customized Bootstrap Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <!-- Template Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <!-- Meta Description -->
    <meta name="description" content="bookaservice.com is a website where you can Book Service for your car and business can register to offer the srevice themselfs" />
    <!-- CSS -->
    <title>BookAService</title>
  </head>
  <body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
      <div class="spinner-border text-primary" style="width: 3rem; height: 3rem" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <!-- Spinner End -->
    <!-- Topbar Start -->
    <div class="container-fluid bg-light p-0">
      <div class="row gx-0 d-none d-lg-flex">
        <div class="col-lg-7 px-5 text-start">
          <div class="h-100 d-inline-flex align-items-center py-3 me-4">
            <small class="fa fa-map-marker-alt text-primary me-2"></small>
            <small>3B Court 1, L`isle Adam Street, Smart City, Malta </small>
          </div>
          <div class="h-100 d-inline-flex align-items-center py-3">
            <small class="far fa-clock text-primary me-2"></small>
            <small>Mon - Fri : 09.00 AM - 09.00 PM</small>
          </div>
        </div>
        <div class="col-lg-5 px-5 text-end">
          <div class="h-100 d-inline-flex align-items-center py-3 me-4">
            <small class="fa fa-phone-alt text-primary me-2"></small>
            <small>+356 2124 9200 </small>
          </div>
          <div class="h-100 d-inline-flex align-items-center">
            <a class="btn btn-sm-square bg-white text-primary me-1" href="https://facebook.com" target="_blank">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a class="btn btn-sm-square bg-white text-primary me-1" href="https://twitter.com/?lang=en" target="_blank">
              <i class="fab fa-twitter"></i>
            </a>
            <a class="btn btn-sm-square bg-white text-primary me-1" href="https://linkedin.com" target="_blank">
              <i class="fab fa-linkedin"></i>
            </a>
            <a class="btn btn-sm-square bg-white text-primary me-0" href="https://instagram.com" target="_blank">
              <i class="fab fa-instagram"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- Topbar End -->
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
      <a href="{% url 'dashboard' %}" class="navbar-brand d-flex align-items-center px-2 px-lg-5">
        <h2 class="m-0 text-primary">
          <i class="fa fa-car me-2"></i>Book a Service.com
        </h2>
      </a>
      <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
          <a href="{% url 'dashboard' %}" class="nav-item nav-link">Home</a> {% if user.is_authenticated %} <a href="{% url 'bookings' %}" class="nav-item nav-link">Dashboard</a> {% if user.is_customer %} <a href="{% url 'car_list' %}" class="nav-item nav-link">Manage Cars</a>
          <a href="{% url 'services' %}" class="nav-item nav-link">Services</a>
          <a href="{% url 'customer_profile' %}" class="nav-item nav-link">Settings</a> {% else %} <a href="{% url 'service_list' %}" class="nav-item nav-link">Manage Services</a>
          <a href="{% url 'business_profile' %}" class="nav-item nav-link">Settings</a> {% endif %} {% endif %} <a href="{% url 'about' %}" class="nav-item nav-link">About</a>
          <a href="{% url 'contact' %}" class="nav-item nav-link">Contact</a>
        </div>
        <li class="btn btn-primary py-3 text-center px-lg-4 d-none d-lg-block"> {% if user.is_authenticated %} <a href="{% url 'logout' %}" class="btn btn-primary py-4 text-center px-lg-4 d-none d-lg-block"> Log Out <i class="fa fa-arrow-right ms-3"></i>
          </a> {% else %} <a href="{% url 'signinpage' %}" class="btn btn-primary py-4 px-lg-4 d-none d-lg-block"> Log In / Register <i class="fa fa-arrow-right ms-3"></i>
          </a> {% endif %} </li>
      </div>
    </nav>
    <!-- Navbar End --> {% block content %} {% endblock%}
    <!-- Footer Start -->
    <footer>
      <div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
          <div class="row g-5">
            <div class="col-lg-3 col-md-6">
              <h4 class="text-light mb-4">Address</h4>
              <p class="mb-2">
                <i class="fa fa-map-marker-alt me-3"></i>3B Court 1, L`isle Adam Street, Smart City, Malta
              </p>
              <p class="mb-2">
                <i class="fa fa-phone-alt me-3"></i>+356 2124 9200
              </p>
              <p class="mb-2">
                <i class="fa fa-envelope me-3"></i>service@gmail.com
              </p>
              <div class="d-flex pt-2">
                <a class="btn btn-outline-light btn-social" href="https://twitter.com/?lang=en" target="_blank">
                  <i class="fab fa-twitter"></i>
                </a>
                <a class="btn btn-outline-light btn-social" href="https://facebook.com" target="_blank">
                  <i class="fab fa-facebook-f"></i>
                </a>
                <a class="btn btn-outline-light btn-social" href="https://youtube.com/" target="_blank">
                  <i class="fab fa-youtube"></i>
                </a>
                <a class="btn btn-outline-light btn-social" href="https://linkedin.com" target="_blank">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <h4 class="text-light mb-4">Opening Hours</h4>
              <h6 class="text-light">Monday - Friday:</h6>
              <p class="mb-4">09.00 AM - 09.00 PM</p>
              <h6 class="text-light">Saturday - Sunday:</h6>
              <p class="mb-0">09.00 AM - 12.00 PM</p>
            </div>
            <div class="col-lg-3 col-md-6">
              <h4 class="text-light mb-4">Services</h4>
              <a class="btn btn-link" href="{% url 'about' %}">Diagnostic Test</a>
              <a class="btn btn-link" href="{% url 'about' %}">Engine Servicing</a>
              <a class="btn btn-link" href="{% url 'about' %}">Tires Replacement</a>
              <a class="btn btn-link" href="{% url 'about' %}">Oil Changing</a>
              <a class="btn btn-link" href="{% url 'about' %}">Vacuam Cleaning</a>
            </div>
            <div class="col-lg-3 col-md-6">
              <h4 class="text-light mb-4">Newsletter</h4>
              <p>Our Newsletter is comming soon.</p>
              <div class="position-relative mx-auto" style="max-width: 400px">
                <input class="form-control border-0 w-100 py-3 ps-4 pe-5" placeholder="comming soon" />
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="copyright">
            <div class="row">
              <div class="col-md-6 text-center text-md-start mb-3 mb-md-0"> &copy; <a class="border-bottom" href="#">BookAService.com</a>, All Right Reserved <span id="copyrightdate"></span>
                <br />Designed By <a class="border-bottom" href="https://htmlcodex.com">HTML Codex</a>
                <br />Distributed By: <a class="border-bottom" href="https://themewagon.com" target="_blank">ThemeWagon</a>
              </div>
              <div class="col-md-6 text-center text-md-end">
                <div class="footer-menu">
                  <a href="{% url '/' %}">Home</a>
                  <a href="{% url 'about' %}">FQAs</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer End -->
    </footer>
    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top">
      <i class="bi bi-arrow-up"></i>
    </a>
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
    <script src="{%  static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/moment.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/moment-timezone.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js' %}"></script>
    <!-- Template Javascript -->
    <script src="{% static 'js/main.js' %}"></script>
    <script>
      $("#copyrightdate").text(new Date().getFullYear());
    </script>
    <script>
      // Get references to the provider and service dropdowns
      const providerDropdown = document.getElementById("provider");
      const serviceDropdown = document.getElementById("service");
      // Add an event listener to the provider dropdown
      providerDropdown.addEventListener("change", function() {
        const selectedProviderId = providerDropdown.value;
        // Loop through the service dropdown options and show/hide based on selected provider
        for (const option of serviceDropdown.options) {
          if (option.getAttribute("data-provider") === selectedProviderId || option.value === "") {
            option.style.display = "";
          } else {
            option.style.display = "none";
          }
        }
        // Select the default "Select A Service" option
        serviceDropdown.value = "";
        // Set the first service as the default selection
        for (const option of serviceDropdown.options) {
          if (option.value !== "" && option.style.display !== "none") {
            option.selected = true;
            break;
          }
        }
      });
    </script>
    <!-- JavaScript (Popper.js is required for some Bootstrap features) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> ] ]
  </body>
</html>