{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Favicon -->
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@600;700&family=Ubuntu:wght@400;500&display=swap" rel="stylesheet">
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <!-- Critical CSS -->
    <style>
    </style>
    <!-- Meta Description -->
    <meta name="description" content="bookaservice.com is a website where you can Book Service for your car and business can register to offer the service themselves">
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'lib/animate/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Template Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>BookAService</title>
</head>
<body>
    <!-- The rest of your HTML content -->

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" defer></script>
    <script src="{% static 'lib/wow/wow.min.js' %}" defer></script>
    <script src="{% static 'lib/easing/easing.min.js' %}" defer></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js' %}" defer></script>
    <script src="{% static 'lib/counterup/counterup.min.js' %}" defer></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}" defer></script>
    <script src="{% static 'lib/tempusdominus/js/moment.min.js' %}" defer></script>
    <script src="{% static 'lib/tempusdominus/js/moment-timezone.min.js' %}" defer></script>
    <script src="{% static 'lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js' %}" defer></script>
    <!-- Your custom JavaScript -->
    <script src="{% static 'js/main.js' %}" defer></script>
    <script>
        $("#copyrightdate").text(new Date().getFullYear());
    </script>
    <script>
        // Your other JavaScript code here
    </script>
</body>
</html>
