{% extends "base.html" %} {% block content %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    <title>Delete Account</title>
  </head>
  <body>
    <div class="containers d-flex justify-content-center">
      <div class="login">
        <form
          action="{% url 'delete_account' %}"
          method="post"
          class="containers"
        >
          {% csrf_token %}
          <h1 class="text-primary">Delete Your Account</h1>
          <input name="email" type="email" placeholder="Email" />
          <input name="password" type="password" placeholder="Password" /><br />
          <button type="submit">Proceed!</button>
          <hr />
          <hr />

          <div class="clearfix"></div>
          <span class="copyright">&copy;2023</span>
        </form>
      </div>
    </div>
  </body>
</html>

{% endblock %}
